* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #333;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #00000097;
}
section {
  width: 50%;
  height: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  background-color: #00000076;
}
.championMainWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.championMainWrap div {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.championMainWrap img {
  /* 챔피언 타일 크기 조정함. */
  width: 100%;
  max-width: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  /* border: 1px solid #e8e8e8; */
}

/* 챔피언이름 스타일 추가  */
.championMainWrap p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 5px;
}
article {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 25%;
  /* background-color: blue; */
}

article > label {
  border-bottom: 1px solid #999;
  cursor: pointer;
  height: 100%;
}

article > label:last-child {
  border-bottom: none;
}

.championBen {
  display: flex;
  align-items: center;
}
.championBen > div {
  width: 20%;
  height: 100%;
  border: 1px solid #333;
}
.championBen img {
  width: 100%;
}
