* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #333;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #00000097;
}
section {
  width: 50%;
  height: 90%;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  background-color: #00000076;
}
.championMainWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.championMainWrap::-webkit-scrollbar {
  display: none;
}
.championMainWrap div {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.championMainWrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  /* border: 1px solid #e8e8e8; */
}

/* 챔피언이름 스타일 추가  */
.championMainWrap p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 5px;
}
article {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 25%;
  padding: 10px;
  transition: 0.6s;
  /* background-color: blue; */
}

article > label {
  border-bottom: 1px solid #999;
  cursor: pointer;
  height: 100%;
}
/* article > label img {
  width: 100%;
} */

article > label {
  background-image: url("../img/cham1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
article > label:last-child {
  border-bottom: none;
}

.championBan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.championBan > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 18%;
  height: 100%;

  border: 1px solid #333;
}
.championBan img {
  width: 100%;
}

.banPickWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.banPickWrap button {
  cursor: pointer;
  padding: 10px 20px;
  width: 50%;
  color: #fff;
  border: none;
}
.banPickWrap button:first-child {
  background-color: rgb(49, 49, 255);
}
.banPickWrap button:last-child {
  display: none;
  background-color: rgb(255, 44, 44);
}

.timerWrap p {
  color: #fff;
}
