* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #333;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: #00000097;
}
section {
  width: 58%;
  height: 90%;
  background-color: #999;
}
.championMainWrap {
  display: flex;
}
article {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 20%;
  /* background-color: blue; */
}

article > label {
  border-bottom: 1px solid #999;
  height: 20%;
}

article > label:last-child {
  border-bottom: none;
}
